.optionsRow {
    align-items: center;
    margin: 20px;
}

.loadingRow {
    margin-top: 20px;
}

.documentMode {
    width: 150px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerRow {
    flex: 1;
}

.header {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.output {
    padding: 20px;
    white-space: pre;
    height: 400px;
    overflow: auto;
    border-top: 2px solid #ebebeb;
}