@font-face {
    font-family: 'geomanist';
    src: url(./fonts/geomanist-regular-webfont.woff2) format('woff2');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanist';
    src: url(./fonts/geomanist-bold-webfont.woff2) format('woff2');

    font-weight: bold;
    font-style: normal;
}