.title {
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: geomanist;
}

.description {
    padding-top: 25px;
    font-size: 20px;
    text-align: center;
    font-family: geomanist;
}